<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>ASW4 | Home</title>
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <form action='sentence' method='post'>
      <legend>
        How shall we begin?
      </legend>
      <input type='text' name='sentences_root' value='Once upon a time...' />
      <input type='submit' value='Proceed' />
    </form>
  </body>
</html>
